@font-face {
  font-family: "tamil bible";
  src: url("./TamilBible.eot"); /* IE9 Compat Modes */
  src: url("./TamilBible.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./TamilBible.otf") format("opentype"), /* Open Type Font */
    url("./TamilBible.svg") format("svg"), /* Legacy iOS */
    url("./TamilBible.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./TamilBible.woff") format("woff"), /* Modern Browsers */
    url("./TamilBible.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
