@font-face {
  font-family: "tamil bible";
  src: url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.eot?raw=true"); /* IE9 Compat Modes */
  src: url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.eot?raw=true#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.otf?raw=true") format("opentype"), /* Open Type Font */
    url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.svg?raw=true") format("svg"), /* Legacy iOS */
    url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.ttf?raw=true") format("truetype"), /* Safari, Android, iOS */
    url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.woff?raw=true") format("woff"), /* Modern Browsers */
    url("//github.com/daniraja/fonts/blob/master/tamilBible/TamilBible.woff2?raw=true") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
